NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_TMDB_IMG_URL=https://image.tmdb.org
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

TMDB_API_URL=https://api.themoviedb.org
TMDB_API_KEY=
TMDB_TOKEN=

BETTER_AUTH_SECRET=zoeoaTbHc6ChSricnNpGtYotaeecKiYi

DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=db_zylo_ui
DATABASE_SSL=false

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
